In [60]:
import graphlab
import pandas as pd

In [61]:
tw = graphlab.SFrame.read_csv('/Users/jiashencai/Documents/Classes/Twitter-dataset/data/training.1600000.processed.noemoticon.csv',header = False )

Finished parsing file /Users/jiashencai/Documents/Classes/Twitter-dataset/data/training.1600000.processed.noemoticon.csv

Parsing completed. Parsed 100 lines in 1.27063 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 351019 lines. Lines per second: 151382

Finished parsing file /Users/jiashencai/Documents/Classes/Twitter-dataset/data/training.1600000.processed.noemoticon.csv

Parsing completed. Parsed 1600000 lines in 5.62435 secs.

In [62]:
tw.rename({'X2': 'id', 'X3':'time','X5':'name','X4':'query','X6':'content'})

Columns:
	X1	int
	id	int
	time	str
	query	str
	name	str
	content	str

Rows: 1600000

Data:
+----+------------+------------------------------+----------+-----------------+
| X1 |     id     |             time             |  query   |       name      |
+----+------------+------------------------------+----------+-----------------+
| 0  | 1467810369 | Mon Apr 06 22:19:45 PDT 2009 | NO_QUERY | _TheSpecialOne_ |
| 0  | 1467810672 | Mon Apr 06 22:19:49 PDT 2009 | NO_QUERY |  scotthamilton  |
| 0  | 1467810917 | Mon Apr 06 22:19:53 PDT 2009 | NO_QUERY |     mattycus    |
| 0  | 1467811184 | Mon Apr 06 22:19:57 PDT 2009 | NO_QUERY |     ElleCTF     |
| 0  | 1467811193 | Mon Apr 06 22:19:57 PDT 2009 | NO_QUERY |      Karoli     |
| 0  | 1467811372 | Mon Apr 06 22:20:00 PDT 2009 | NO_QUERY |     joy_wolf    |
| 0  | 1467811592 | Mon Apr 06 22:20:03 PDT 2009 | NO_QUERY |     mybirch     |
| 0  | 1467811594 | Mon Apr 06 22:20:03 PDT 2009 | NO_QUERY |       coZZ      |
| 0  | 1467811795 | Mon Apr 06 22:20:05 PDT 2009 | NO_QUERY | 2Hood4Hollywood |
| 0  | 1467812025 | Mon Apr 06 22:20:09 PDT 2009 | NO_QUERY |     mimismo     |
+----+------------+------------------------------+----------+-----------------+
+-------------------------------+
|            content            |
+-------------------------------+
| @switchfoot http://twitpic... |
| is upset that he can't upd... |
| @Kenichan I dived many tim... |
| my whole body feels itchy ... |
| @nationwideclass no, it's ... |
| @Kwesidei not the whole crew  |
|          Need a hug           |
| @LOLTrish hey  long time n... |
| @Tatiana_K nope they didn'... |
|   @twittera que me muera ?    |
+-------------------------------+
[1600000 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [64]:
tw['word_count'] = graphlab.text_analytics.count_words(tw['content'])

In [66]:
tfidf = graphlab.text_analytics.tf_idf(tw['word_count'])

In [67]:
tw['tfidf'] = tfidf

In [87]:
n1 = tw[1]
n2 = tw[2]

In [98]:
knn_model = graphlab.nearest_neighbors.create(tw,features=['tfidf'],label='id')

Starting brute force nearest neighbors model training.

In [115]:
sco = tw[tw['id']==1467810672]

In [119]:
sco

Columns:
	X1	int
	id	int
	time	str
	query	str
	name	str
	content	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+----+------------+------------------------------+----------+---------------+
| X1 |     id     |             time             |  query   |      name     |
+----+------------+------------------------------+----------+---------------+
| 0  | 1467810672 | Mon Apr 06 22:19:49 PDT 2009 | NO_QUERY | scotthamilton |
+----+------------+------------------------------+----------+---------------+
+-------------------------------+-------------------------------+
|            content            |           word_count          |
+-------------------------------+-------------------------------+
| is upset that he can't upd... | {'a': 1, 'and': 1, 'school... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'a': 1.58047394726723, 'a... |
+-------------------------------+
[? rows x 8 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [120]:
knn_model.query(sco)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 6.25e-05    | 29.789ms     |

| Done         |         | 100         | 823.836ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    1467810672   |      0.0       |  1   |
|      0      |    1691343538   | 0.785714285714 |  2   |
|      0      |    1985822669   |      0.8       |  3   |
|      0      |    2257932470   | 0.805555555556 |  4   |
|      0      |    1556118978   | 0.806451612903 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [121]:
sco['content']

dtype: str
Rows: 1
["is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"]

In [123]:
match1 = tw[tw['id'] == 1691343538]

In [128]:
print sco['content']

["is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"]

In [154]:

m = graphlab.toolkits._internal.search.create(tw,features=['content'])

Tokenizing...

TF-IDF transform...

Creating inverted index...

+--------------------------+-------------------+

| Number of rows processed | Elapsed (seconds) |

+--------------------------+-------------------+

| 0                        | 18.36s            |

| 100000                   | 21.89s            |

| 200000                   | 25.65s            |

| 300000                   | 29.33s            |

| 400000                   | 33.49s            |

| 500000                   | 38.74s            |

| 600000                   | 42.50s            |

| 700000                   | 47.67s            |

| 800000                   | 52.08s            |

| 900000                   | 56.23s            |

| 1000000                  | 1m 6s             |

| 1100000                  | 1m 12s            |

| 1200000                  | 1m 17s            |

| 1300000                  | 1m 22s            |

| 1400000                  | 1m 27s            |

| 1500000                  | 1m 31s            |

Creating query expansion model...

Saving data for querying...

+--------------------------+-------------------+

In [156]:
 m.query('upset')

Columns:
	score	float
	X1	int
	id	int
	time	str
	query	str
	name	str
	content	str
	word_count	dict
	tfidf	dict

Rows: 10

Data:
+---------------+----+------------+------------------------------+----------+
|     score     | X1 |     id     |             time             |  query   |
+---------------+----+------------+------------------------------+----------+
|  17.729253036 | 0  | 1981665366 | Sun May 31 09:38:11 PDT 2009 | NO_QUERY |
| 16.4022849986 | 0  | 1968365099 | Fri May 29 21:17:09 PDT 2009 | NO_QUERY |
| 16.2622114769 | 0  | 2262098590 | Sat Jun 20 21:53:08 PDT 2009 | NO_QUERY |
| 15.8257019702 | 0  | 2231851593 | Thu Jun 18 19:06:50 PDT 2009 | NO_QUERY |
| 15.5669588299 | 0  | 2249947442 | Fri Jun 19 23:21:20 PDT 2009 | NO_QUERY |
| 15.5669588299 | 0  | 2250162940 | Fri Jun 19 23:51:04 PDT 2009 | NO_QUERY |
| 15.5669588299 | 0  | 2019040863 | Wed Jun 03 10:54:34 PDT 2009 | NO_QUERY |
| 15.5669588299 | 0  | 1827966770 | Sun May 17 11:49:06 PDT 2009 | NO_QUERY |
| 15.5669588299 | 0  | 2192745552 | Tue Jun 16 07:29:25 PDT 2009 | NO_QUERY |
| 15.5669588299 | 0  | 2192721160 | Tue Jun 16 07:27:16 PDT 2009 | NO_QUERY |
+---------------+----+------------+------------------------------+----------+
+---------------+-------------------------------+--------------------------------+
|      name     |            content            |           word_count           |
+---------------+-------------------------------+--------------------------------+
|     cgines    |      Upset over an upset      | {'over': 1, 'upset': 2, 'a...  |
|     lamb21    | #myweakness is when I get ... | {'and': 1, 'then': 1, 'bec...  |
|  AbbeyxAngel  | @iamjonathancook You being... | {'me': 1, 'being': 1, '@ia...  |
|    itskasi    | @HOTtamaleTRAIN I'm upset ... | {'real': 1, 'about': 1, 'u...  |
|  nikaynicole  |         Upset today.          |   {'today.': 1, 'upset': 1}    |
|  kitkatkayla  |           is upset            |     {'is': 1, 'upset': 1}      |
|  Gator_Belle  |           is upset            |     {'is': 1, 'upset': 1}      |
|  jaybaybee42  |       realllllyyy upset       | {'realllllyyy': 1, 'upset': 1} |
|  SUCH_A_DOLL  |      UPSET... EXTREMELY       | {'extremely': 1, 'upset......  |
| shaenamanzano |           is upset            |     {'is': 1, 'upset': 1}      |
+---------------+-------------------------------+--------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'over': 4.435480155407971... |
| {'and': 1.7960875719666431... |
| {'me': 2.5724108754803297,... |
| {'real': 5.648939238773692... |
| {'today.': 4.9856988088062... |
| {'is': 2.007963095128857, ... |
| {'is': 2.007963095128857, ... |
| {'realllllyyy': 12.3396040... |
| {'extremely': 7.4123503529... |
| {'is': 2.007963095128857, ... |
+-------------------------------+
[10 rows x 9 columns]

In [159]:
print m.query('aries')

+---------------+----+------------+------------------------------+----------+
|     score     | X1 |     id     |             time             |  query   |
+---------------+----+------------+------------------------------+----------+
| 22.0947016824 | 4  | 2051328409 | Fri Jun 05 21:40:29 PDT 2009 | NO_QUERY |
| 22.0947016824 | 4  | 1468055253 | Mon Apr 06 23:28:39 PDT 2009 | NO_QUERY |
| 20.3226721768 | 4  | 2184531400 | Mon Jun 15 16:02:49 PDT 2009 | NO_QUERY |
| 20.3226721768 | 4  | 1933099205 | Tue May 26 22:59:51 PDT 2009 | NO_QUERY |
| 19.7751957699 | 4  | 2012075739 | Tue Jun 02 20:01:47 PDT 2009 | NO_QUERY |
| 19.5391375374 | 4  | 2059748428 | Sat Jun 06 17:33:30 PDT 2009 | NO_QUERY |
| 19.5391375374 | 0  | 2068662078 | Sun Jun 07 14:28:30 PDT 2009 | NO_QUERY |
| 19.5391375374 | 4  | 1559257329 | Sun Apr 19 10:40:27 PDT 2009 | NO_QUERY |
| 19.5391375374 | 4  | 2066883887 | Sun Jun 07 11:20:57 PDT 2009 | NO_QUERY |
| 18.8137778734 | 4  | 2189194849 | Mon Jun 15 23:27:43 PDT 2009 | NO_QUERY |
+---------------+----+------------+------------------------------+----------+
+----------------+-------------------------------+
|      name      |            content            |
+----------------+-------------------------------+
| JoeLovesGrapes | @xNatashaaa your aries? aw... |
|   MichaelMcA   | in Aries with peter and luke  |
|  Mr_Sovereign  | @geoflint lol same here ..... |
|  hangintough   | @skid_aries_skid soon enou... |
| siimpLybeautii | my zodiac addictions : Aqu... |
|   theeternal   | 1st place in second HeroCl... |
|   netopwibby   | is highly impatient ... It... |
|   ItsDeidre_   | Hi im an aries can yu make... |
|  txcranberry   | @aries_76 I'll email you d... |
|   talamobley   | @TessaLopez Me and you Ari... |
+----------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'me': 1, '@xnatashaaa': 1... | {'me': 2.5724108754803297,... |
| {'and': 1, 'luke': 1, 'ari... | {'and': 1.7960875719666431... |
| {'@geoflint': 1, 'lol': 1,... | {'@geoflint': 13.592367006... |
| {'@skid_aries_skid': 1, 'e... | {'@skid_aries_skid': 14.28... |
| {'addictions': 1, 'r': 1, ... | {'addictions': 11.88761891... |
| {'aries': 1, 'heroclix': 1... | {'aries': 11.8006075374220... |
| {'...': 1, 'sometimes.': 1... | {'...': 4.642417846889759,... |
| {'me': 1, 'make': 1, 'one'... | {'me': 2.5724108754803297,... |
| {'week': 1, "i'll": 1, 'th... | {'week': 4.787216780587615... |
| {'and': 1, 'me': 1, '@tess... | {'and': 1.7960875719666431... |
+-------------------------------+-------------------------------+
[10 rows x 9 columns]

Tokenizing...

TF-IDF transform...

Creating inverted index...

Creating query expansion model...

Saving data for querying...